.home {
  background: url(background.jpg) center / cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .home {
    height: 38rem;
    background-size: inherit;
    background-position-y: -7rem;
  }

  .scroll-message {
    display: none;
  }
}

@media (max-width: 320px) {
  .home {
    height: 11rem;
    background-position-y: -10rem;
    background-position-x: -30rem;
  }
}
