.scroll-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem 1.8rem;
  text-align: center;
}

.light {
  color: #f1f1f1;
}

.dark {
  color: #bebebe;
}

.text {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
}

.icon {
  font-size: 1.8rem;
}
